  <div class="wrap-content container" id="container">
    <!-- start: PAGE TITLE -->
    <section id="page-title">
      <div class="row">
        <div class="col-sm-8">
          <h1 class="mainTitle">Photo Slider Data Detail</h1>
          <span class="mainDescription">Halaman untuk melihat detail Photo Slider</span>
        </div>
        <ol class="breadcrumb">
          <li>
            <span>Photo Slider View</span>
          </li>
          <li class="active">
            <span>View Photo Slider</span>
          </li>
        </ol>
      </div>
    </section>
    <!-- end: PAGE TITLE -->
    <!-- start: BASIC EXAMPLE -->
    <div class="container-fluid container-fullw bg-white">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-lg-8 col-md-12">
              <div class="panel panel-white">
                <div class="panel-heading">
                  <h5 class="panel-title">Detail Photo Slider</h5>
                </div>
                <div class="panel-body">
                  <table class="table">
                    <tbody>
                      
                      <tr>
                        <td>Id</td>
                        <td><%= @photo_slider.id %></td>
                      </tr>
                      <tr>
                        <td>Tittle</td>
                        <td><%= @photo_slider.tittle %></td>
                      </tr>
                      <tr>
                        <td>Description</td>
                        <td><%= @photo_slider.description %></td>
                      </tr>
                      <tr>
                        <td>Image</td>
                        <%= @photo_slider.image.url(:thumb) %>
                        <td><img class="transparent-logo" src="<%= @photo_slider.image.url(:thumb) %>" alt="Boutique"></td>
                      </tr>
                      <tr>
                        <td>Created At</td>
                        <td><%= @photo_slider.created_at %></td>
                      </tr>
                      <tr>
                        <td>Update At</td>
                        <td><%= @photo_slider.updated_at %></td>
                      </tr>

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 space20">
          <a href="/admin/photo_sliders/<%= params[:id] %>/edit" class="btn btn-warning">
            Edit <i class="fa fa-edit"></i>
          </a>
          <a href="/admin/photo_sliders" class="btn btn-info">
            Back <i class="fa fa-reply"></i>
          </a>
        </div>
    </div>     

    </div>
    <!-- end: BASIC EXAMPLE -->

    <!-- start: DYNAMIC TABLE -->
    
  </div>