  <div class="wrap-content container" id="container">
    <!-- start: PAGE TITLE -->
    <section id="page-title">
      <div class="row">
        <div class="col-sm-8">
          <h1 class="mainTitle">Product Type Data Detail</h1>
          <span class="mainDescription">Halaman untuk melihat detail Product Type</span>
        </div>
        <ol class="breadcrumb">
          <li>
            <span>Product Type View</span>
          </li>
          <li class="active">
            <span>View Product Type</span>
          </li>
        </ol>
      </div>
    </section>
    <!-- end: PAGE TITLE -->
    <!-- start: BASIC EXAMPLE -->
    <div class="container-fluid container-fullw bg-white">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-lg-8 col-md-12">
              <div class="panel panel-white">
                <div class="panel-heading">
                  <h5 class="panel-title">Detail Product Type</h5>
                </div>
                <div class="panel-body">
                  <table class="table">
                    <tbody>
                      
                      <tr>
                        <td>Id</td>
                        <td><%= @product_type.id %></td>
                      </tr>                                          
                      <tr>
                        <td>Product Type</td>
                        <td><%= @product_type.name %></td>
                      </tr>
                      <tr>
                        <td>Description</td>
                        <td><%= @product_type.description %></td>
                      </tr>                      
                      <tr>
                        <td>Created At</td>
                        <td><%= @product_type.created_at %></td>
                      </tr>
                      <tr>
                        <td>Update At</td>
                        <td><%= @product_type.updated_at %></td>
                      </tr>

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 space20">
          <a href="/admin/product_types/<%= params[:id] %>/edit" class="btn btn-warning">
            Edit <i class="fa fa-edit"></i>
          </a>
          <a href="/admin/product_types" class="btn btn-info">
            Back <i class="fa fa-reply"></i>
          </a>
        </div>
    </div>     

    </div>
    <!-- end: BASIC EXAMPLE -->

    <!-- start: DYNAMIC TABLE -->
    
  </div>