body{background:#fff}
#header{
    height:40px;
    overflow:hidden;
    background:#3881db url('skin/bar-header.png');
    padding: 0 20px 0 40px;
}
#header .hlist *{
    height:40px;
    line-height:40px;
}
#header .home a{
    background: transparent url('skin/logo.png') no-repeat scroll 0 4px;
    padding-left:42px;
    width:200px;
    color:#fff;
    text-shadow:none;
}
#header a{
    color:#000;
    font-weight:bold;
    font-size:1.1em;
    text-shadow:1px 1px 1px #4486d1;
    display:block;
    padding:0 10px;
}
#header .selected a{
    color:#fff;
    text-shadow:none;
}
#subheader{
    color:#777;
    height:36px;
    line-height:36px;
    padding:0 20px;
    background:#f1f1f1 url('skin/bar-subheader.png');
    margin-bottom:20px;
}
#subheader .logout{
    display:block;
    float:right;
    height:24px;
    line-height:24px;
    margin-top:6px;
}
#subheader span{
/*    float:right;*/
}
#subheader a.logout{
    color:#000;
    padding-left:24px;
    margin-left:10px;
    background: transparent url('skin/icon_24.png') no-repeat scroll 0 0;
}
a.notif{color:#900 !important}
#page-login{margin-top:50px;}
table.form td{padding:0}
/*form.block table input[type="text"]{border:0 none; background:#fff}*/
table.grid, table.grid th, table.grid td{border:1px solid #ddd}
table.summary .primary{font-weight:bold;font-size:1.1em}
table.summary td{background:#f8f8f8}
table.summary .alt td{background:#f2f2f2}
table.summary tr.hover td{background:#def; cursor:pointer;}
table th{
    background:#eee;
}
table .pct{font-size:1.6em;background:#E9F4FF}
.money{
    text-align:right;
}

.sld{
    background:#fafafa url('skin/tile-dot.png');
    padding:20px;
}
.sld .selector{padding-left: 50px}
.sld .action{float:left;margin-right:10px;padding-right:5px; cursor:pointer}
.sld .action.selected{background-color:#fff}
.sld .img{width:90%; background:#fff;margin:0 auto}
.sld img{}
.info .action{
    float:right;
    background-color:#eee;
    padding: 0 5px 0 24px;
}
.info dl.block dd .date{font-style:italic;font-size:.9em; color:#557CB1}
.title{
    height:20px;
    line-height:20px;
}
.title h2{
    float:left;
    margin-right:10px;
}

.progress{font-size:.9em; font-weight:bold;color:#fff;}
.progress.high{background:#090}
.progress.medium{background:#ED7E19}
.progress.low{background:#900}

.frame{border:1px solid #ddd}
.filter{
    background:#f8f8f8;
    padding:10px;
    margin-bottom:0;
}
form.filter input[type="text"].text{
    border:1px solid #bbb;
}
td.contractor{width:200px}
td.contractor h4{
    font-size:12px;
}

#sidenav .title{
    margin-bottom:5px;
    font-size:12px;
    text-transform:uppercase;
    font-weight:normal;
}
#sidenav .nav{
/*    border: 1px solid #eee;
    border-top:3px solid #3082DA;*/
    margin-bottom:20px;
}
#sidenav .nav li{
}
#sidenav .nav li.first{
/*    border-top: 1px solid #fff;*/
}
#sidenav .nav li.last{
    border-bottom: 0 none;
}
#sidenav .nav li a{
    border-bottom:1px solid #f4f4f4;
    border-top:1px solid #fafafa;
    margin:0 0px;
    background: transparent url('skin/icon_30.png') no-repeat scroll 4px 0;
    color:#666;
    font-size: .9em;
    font-weight:bold;
    padding-left:38px;
    height:28px;
    line-height:28px;
}
#sidenav .nav li.approval a{background-position:4px -28px}
#sidenav .nav li.iso a{background-position:4px -56px}
#sidenav .nav li.truck a{background-position:4px -84px}
#sidenav .nav li.office a{background-position:4px -112px}
#sidenav .nav li.energy a{background-position:4px -140px}
#sidenav .nav li.gps a{background-position:4px -168px}
#sidenav .nav li.cash a{background-position:4px -196px}
#sidenav .nav li.permission a{background-position:4px -252px}
#sidenav .nav li.setting a{background-position:4px -280px}
#sidenav .nav li.user a{background-position:4px -308px}
#sidenav .nav li.group a{background-position:4px -336px}
#sidenav .nav li.cat-project a{background-position:4px -364px}
#sidenav .nav li.cat-iso a{background-position:4px -392px}
#sidenav .nav li.cat-contract a{background-position:4px -420px}
#sidenav .nav li.contract a{background-position:4px -448px}
#sidenav .nav li.home a{background-position:4px -476px; color:#333}
#sidenav .nav li.agenda a{background-position:4px -504px; color:#333}

#sidenav .nav li a:hover{
    background-image: url('skin/icon_30-hover.png');
    color:#186FCA;
    border-color:#B4D8FF;
    background-color:#def;
}
#sidenav .nav li.selected a{
    background-image: url('skin/icon_30-hover.png');
    background-color:#1D81EA;
    border-color:#186FCA;
    color:#fff;
}
#sidenav h5{
    font-weight:normal;
    text-transform:uppercase;
    margin-bottom:0px;
    margin-left:0px;
    margin-right:0px;
    padding:4px;
    color:#333;
    border-bottom: 2px solid #aaa;
}

#admin-page{background:#fafafa;}
.admin-page{
    margin-top:-20px;
}
.admin-page .inner{
    background:#fff;
    border:1px solid #ddd;
    border-top: 0 none;
    padding: 20px 40px;
}

.admin-page h4, .admin-page h1{
    color:#666;
    height:24px;
    line-height:24px;
}
.admin-page h4 span, .admin-page h1 span{
    float:left;
}
.admin-page h4 a{
    font-size:11px;
    font-weight:normal;
    color:#900;
    background: transparent url('skin/add_16.png') no-repeat scroll 50% 50%;
    text-indent:-100000px;
    float:left;
    width:24px;
    height:24px;
}
.admin-page a.add img{
    float:left;
}
.admin-page a.add{
    display:block;
    height:24px;
    line-height:24px;
}

.hl{
    border:1px solid #ddd;
    background:#fafafa;
}
.popup{
    background:#fff;
    border:1px solid #bbb;
    box-shadow:0px 0px 4px #000;
    -webkit-box-shadow:0px 0px 4px #000;
    -moz-box-shadow:0px 0px 4px #000;
    padding:40px;
}
.popup .title{
    font-size:13px;
    font-weight:normal;
    text-transform:uppercase;
    color:#555;
    border-bottom:1px solid #ccc;
}
.popup .close{
    display:block;
    height:24px;
    width:24px;
    background: transparent url("skin/close_24.gif") no-repeat scroll 0 0;
    float:right;
    text-indent: -10000px;
    float: right;
    margin-top: -30px;
    margin-right: -30px;
}
.dashboard h4{
    margin-bottom:10px;
    font-size:.9em;
}
.dashboard h5{
    font-weight: normal;
    margin: 0;
    color: #333;
    font-size: 0.9em;
}
.dashboard .row{
    padding: 20px 10px;
    border-bottom:1px solid #ccc;
}
.dashboard .row.first{
    border-top:1px solid #ccc;
}
.dashboard .row.alt{
    background:#f4f4f4;
}
.dashboard .row .grid_1{
    width:80px;
}
.dashboard .row a{
    padding: 5px;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    height:70px;
}
.dashboard .row a:hover{
    background-color:#ddd;
}

.crud .action a{
    color:#218ACF;
    background:#def;
    border: 1px solid #cde;
    padding: 0 8px;
    border-radius:12px;
    -moz-border-radius:12px;
    -webkit-border-radius:12px;
}
.crud .action a:hover{
    background: #678;
    border-color: #456;
    color:#fff;
}
.crud .action a.del{
    color:#A02334;
    background:#eee;
    border: 1px solid #eee;
}
.crud .action a.del:hover{
    background: #751C31;
    border-color: #611628;
    color:#fff;
}

/* halaman manajemen admin */

.admin-table {
    float:  left;
    width:  83%;
    text-align: left;
}

.admin-header-table {
    text-align: center;
}

.admin-column-username, .admin-column-email, .admin-column-user-group {
    padding: 5px;
}

.admin-column-username {
    width: 200px;
}

.admin-column-email {
    width: 200px;
}

.admin-column-user-group {
    width: 200px;
}

.pagination {
    width: 80%;
    margin-bottom: 10px;
    text-align: center;
}

.notice { color: red }
