a{text-decoration:none;color:#50678B}
a:hover{color:#8c0000}
.al{text-align:left}
.ar{text-align:right}
.ac{text-align:center}
.aj{text-align:justify}
.fr{float:right;}
.fl{float:left;}
.hidden {
    display:none;
}
.transparent {
    opacity:0;
}
.sub{
    font-size:0.9em;
	font-weight:normal;
}
.box{
    padding:20px;
}
.hbox{
    padding: 0 20px;
}
.vbox{
    padding: 20px 0;
}
.mb0{margin-bottom:0}
.mb10{margin-bottom:10px;}
.mb20{margin-bottom:20px;}
.mb40{margin-bottom:40px;}
.left{
    float:left;
    width:48%;
}
.right{
    float:left;
    width:48%;
    margin-left:4%;
}
.full{width:100%;padding-left:0; padding-right:0}
/*NAVIGATION*/
ul.hlist {
    margin: 0pt; padding: 0pt; display: inline; float: left;
}
ul.hlist li {
    display: inline;
    float: left;
    list-style-type: none;
    line-height: 32px;
    height: 32px;
}
ul.hlist li a{
    display:block;
    line-height: 32px;
    height: 32px;
}
ul.vlist {
	padding:0;
	margin:0;
	list-style:none;
}
ul.vlist li {
	padding:0;
	margin:0;
	list-style:none;
}
ul.vlist li a{
    display:block;
    line-height: 32px;
    height: 32px;
}

table th, table td{padding:5px;}
table th{vertical-align:middle; font-size:11px}
table td{font-size:11px;}
table td.action{
	vertical-align:middle;
	padding: 10px;
}

/*FORM*/
form.block .row{
	margin-bottom:10px;
}
form.block label{
	font-weight:bold;
	font-size:.85em;
	display:block;
}
form.block input[type="text"], form.block input[type="password"], form.block textarea{
	border: 1px solid #aaa;
	background:#f8f8f8 url('skin/shadow-input.png') repeat-x scroll 0 0;
	font-size:1.2em;
	padding: 5px 0;
	font-size:.9em;
	font-weight:normal;
	color:#333;
}
form.block input[type="text"]:focus, form.block input[type="password"]:focus, form.block textarea:focus{
	border-color:#2993FF;
	box-shadow: 0px 0px 2px #2993FF;
	-moz-box-shadow: 0px 0px 2px #2993FF;
	-webkit-box-shadow: 0px 0px 2px #2993FF;
}
form.block .check label{font-weight:normal; display:inline; margin-right:10px}
form.block .hint{font-size:.9em; color:#666;}

form.inline label{
	width:150px;
	float:left;
	text-align:right;
	margin-right:10px;
}
form.inline input[type="text"]{
	border: 1px solid #aaa;
	background:#f8f8f8 url('skin/shadow-input.png') repeat-x scroll 0 0;
	font-size:1.2em;
	padding: 5px 0;
	font-size:.9em;
	font-weight:normal;
	color:#333;
	float:left;
	width:100px;
}
form.inline input[type="text"]:focus, form.inline input[type="password"]:focus, form.inline textarea:focus{
	border-color:#2993FF;
	box-shadow: 0px 0px 2px #2993FF;
	-moz-box-shadow: 0px 0px 2px #2993FF;
	-webkit-box-shadow: 0px 0px 2px #2993FF;
}

.btn{
	position:relative;
	height:29px;
	line-height:24px;
	display:block;
	color:#fff;
	text-transform:uppercase;
	font-family:arial,sans-serif;
	font-size:1.1em;
	font-weight:bold;
	background:#ad0000 url('skin/bar-btn.png');
	border: 1px solid #ad0000;
	cursor:pointer;
	padding: 0 15px;
}
.btn:hover{
	background:#B40000 url('skin/bar-btn-hover.png');
}
.btn:focus, .btn:active{top:1px;left:1px;}
.btn-rounded{
	position:relative;
	height:30px;
	width:70px;
	line-height:30px;
	display:block;
	float:left;
	margin-right:5px;
	color:#fff;
	text-transform:uppercase;
	font-family:arial,sans-serif;
	font-size:.9em;
	font-weight:bold;
	background:transparent url('skin/button.png');
	cursor:pointer;
	text-align:center;
}
.btn-rounded.html{background-position: 0 -60px;}
.btn-rounded.html:hover{background-position: 0 -90px;}
.btn-rounded:hover{background-position:0 -30px;color:#fff}
.btn-rounded:active, .btn-rounded:focus{top:1px; left:1px}

form.new_admin .row, form.filter .row{
	margin-bottom:10px;
}
form.new_admin label, form.filter label{
	font-weight:bold;
	display:block;
}
form.new_admin input[type="text"], form.filter input[type="text"], form.new_admin input[type="password"], form.block input[type="password"], form.block textarea{
	border: 1px solid #aaa;
	background:#f8f8f8;
	font-size:1.2em;
	padding: 2px;
}
form.new_admin input[type="text"]:focus,form.filter input[type="text"]:focus, form.new_admin input[type="password"]:focus, form.block input[type="password"]:focus, form.block textarea:focus{
	border-color:#999;
	background:#fff;
}
form.new_admin .check label, form.filter .check label{font-weight:normal; display:inline; margin-right:10px}
.btn{
	position:relative;
	height:29px;
	line-height:24px;
	display:block;
	color:#fff;
	text-transform:uppercase;
	font-family:arial,sans-serif;
	font-size:1.1em;
	font-weight:bold;
	background:#ad0000 url('skin/bar-btn.png');
	border: 1px solid #ad0000;
	cursor:pointer;
	padding: 0 15px;
}
.btn:hover{
	background:#B40000 url('skin/bar-btn-hover.png');
}
.btn:focus, .btn:active{top:1px;left:1px;}
.btn-rounded{
	position:relative;
	height:30px;
	width:70px;
	line-height:30px;
	display:block;
	float:left;
	margin-right:5px;
	color:#fff;
	text-transform:uppercase;
	font-family:arial,sans-serif;
	font-size:.9em;
	font-weight:bold;
	background:transparent url('skin/button.png');
	cursor:pointer;
	text-align:center;
}
.btn-rounded.html{background-position: 0 -60px;}
.btn-rounded.html:hover{background-position: 0 -90px;}
.btn-rounded:hover{background-position:0 -30px;color:#fff}
.btn-rounded:active, .btn-rounded:focus{top:1px; left:1px}

/*INFO*/
.warning{color:#900}
dl.block{
	border: 1px solid #ddd;
	border-bottom:0 none;
}

dl.block dt {
	display: block;
	font-weight: bold;
	font-size: 1em;
	padding: 5px 10px 0px 10px;
}

dl.block dt.this-year-disbursement{
    display:none;
}

dl.block dd.this-year-disbursement{
    display:none;
}

dl.block dd {
	display: block;
	color: #555;
	border-bottom: 1px solid #DDD;
	padding: 0px 10px 5px 10px;
}

dl.borderless{border:0 none}
dl.borderless dd{border:0 none}


dl.inline dt {
    background:transparent;
    float:left;
    padding:5px;
    width:140px;
    color:#666;
	clear:left;
}

dl.inline dd {
	border-bottom:1px solid #ddd;
    margin:2px 0 0 150px;
	margin-left:150px;
    padding:5px;
}

.mbox{padding:5px 10px;}
.mbox.clean { background-color: #efefef; border: 1px solid #dedede;}
.mbox.info  { background-color: #f7fafd; border: 1px solid #b5d3ff; }
.mbox.ok    { background-color: #d7f7c4; border: 1px solid #C8E7B2; color:#0c5617}
.mbox.alert { background-color: #fef5be; border: 1px solid #fdd425; }
.mbox.error { color:#900;}

/*ACTION*/
a.action{
	background:transparent url('skin/icon_24.png') no-repeat scroll 0 0;
	padding-left:24px;
	display:block;
	line-height:24px;
	height:24px;
}
a.action.detail{background-position: 0 -24px}
a.action.map{background-position: 0 -48px}
a.action.diagram{background-position: 0 -72px}

.pagination a{
	padding: 2px 5px;
}

.float_left {
        float: left;
        width: 100%;
}

.left {
        float: left;
}

#new_project_contract select {
        width: 300px;
}

#new_project_contract .grid_2 select {
        width: 50px;
}

#loading-content {
        position: absolute;
        top: 45%;
        left: 45%;
}

#red_alert td {
        background-color: #CE746F;
}

.row {
	margin-bottom:10px;
}
