a{text-decoration:none;color:#0061E2}
a:hover{color:#8c0000}
.al{text-align:left}
.ar{text-align:right}
.ac{text-align:center}
.aj{text-align:justify}
.fr{float:right;}
.fl{float:left;}
.hidden {
    display:none;
}
.transparent {
    opacity:0;
}
.sub{
    font-size:0.9em;
	font-weight:normal;
}
.box{
    padding:20px;
}
.hbox{
    padding: 0 20px;
}
.vbox{
    padding: 20px 0;
}
.mb0{margin-bottom:0}
.mb10{margin-bottom:10px;}
.mb20{margin-bottom:20px;}
.mb40{margin-bottom:40px;}
.left{
    float:left;
    width:48%;
}
.right{
    float:left;
    width:48%;
    margin-left:4%;
}
.full{width:100%;padding-left:0; padding-right:0}
.onehalf-full{width:150%;padding-left:0; padding-right:0}
/*NAVIGATION*/
ul.hlist {
    margin: 0pt; padding: 0pt; display: inline; float: left;
}
ul.hlist li {
    display: inline;
    float: left;
    list-style-type: none;
    line-height: 32px;
    height: 32px;
}
ul.hlist li a{
    display:block;
    line-height: 32px;
    height: 32px;
}

table th, table td{padding:5px;}
table th{vertical-align:middle; font-size:11px}
table td{font-size:11px;}
table td.action{
	vertical-align:middle;
	padding: 10px;
}

/*FORM*/
form.user_new .row, form.filter .row{
	margin-bottom:10px;
}
form.user_new label, form.filter label{
	font-weight:bold;
	display:block;
}
form.user_new input[type="text"], form.filter input[type="text"], form.user_new input[type="password"], form.block input[type="password"], form.block textarea{
	border: 1px solid #aaa;
	background:#f8f8f8;
	font-size:1.2em;
	padding: 2px;
}
form.user_new input[type="text"]:focus,form.filter input[type="text"]:focus, form.user_new input[type="password"]:focus, form.block input[type="password"]:focus, form.block textarea:focus{
	border-color:#999;
	background:#fff;
}
form.user_new .check label, form.filter .check label{font-weight:normal; display:inline; margin-right:10px}
.btn{
	position:relative;
	height:29px;
	line-height:24px;
	display:block;
	color:#fff;
	text-transform:uppercase;
	font-family:arial,sans-serif;
	font-size:1.1em;
	font-weight:bold;
	background:#ad0000 url('skin/bar-btn.png');
	border: 1px solid #ad0000;
	cursor:pointer;
	padding: 0 15px;
}
.btn:hover{
	background:#B40000 url('skin/bar-btn-hover.png');
}
.btn:focus, .btn:active{top:1px;left:1px;}
.btn-rounded{
	position:relative;
	height:30px;
	width:70px;
	line-height:30px;
	display:block;
	float:left;
	margin-right:5px;
	color:#fff;
	text-transform:uppercase;
	font-family:arial,sans-serif;
	font-size:.9em;
	font-weight:bold;
	background:transparent url('skin/button.png');
	cursor:pointer;
	text-align:center;
}
.btn-rounded.html{background-position: 0 -60px;}
.btn-rounded.html:hover{background-position: 0 -90px;}
.btn-rounded:hover{background-position:0 -30px;color:#fff}
.btn-rounded:active, .btn-rounded:focus{top:1px; left:1px}
/*INFO*/
.warning{color:#900}
dl.block{
	border: 1px solid #ddd;
	border-bottom:0 none;
}
dl.block dt{
    display:block;
    font-weight: bold;
    font-size: 1em;
	padding:5px 10px 0 10px;
}
dl.block dd{
    display:block;
    color:#555;
	border-bottom:1px solid #ddd;
	padding:0 10px 5px 10px;
}
dl.borderless{border:0 none}
dl.borderless dd{border:0 none}

.mbox{padding:5px 10px;}
.mbox.clean { background-color: #efefef; border: 1px solid #dedede;}
.mbox.info  { background-color: #f7fafd; border: 1px solid #b5d3ff; }
.mbox.ok    { background-color: #d7f7c4; border: 1px solid #C8E7B2; color:#0c5617}
.mbox.alert { background-color: #fef5be; border: 1px solid #fdd425; }
.mbox.error { color:#900;}

/*ACTION*/
a.action{
	background:transparent url('skin/icon_24.png') no-repeat scroll 0 0;
	padding-left:24px;
	display:block;
	line-height:24px;
	height:24px;
}
a.action.detail{background-position: 0 -24px}
a.action.map{background-position: 0 -48px}
a.action.diagram{background-position: 0 -72px}

.pagination a{
	padding: 2px 5px;
}

.row {
        text-align: center;
}

.registration .row {
        text-align: left;
}

.registration_title {
        text-align: center;
        margin-top: 10px;
}

table.summary tr.red_alert td{
        background-color: #CE746F;
}

table.summary tr.yellow_alert td{
        background-color: #FFEF22;
}

.float_left {
        float: left;
}

#loading-content {
        position: absolute;
        top: 45%;
        left: 45%;
        display: none;
}

.contract-img-title {
        font-weight: bold;
        font-size: 18px;
        padding-top: 20px;
}

.first{
        padding: 0;
}

#dashboard-chart {
        width: 100%;
        height: 292px;
}

#dashboard-chart img {
        width: 100%;
        max-width: 300px;
}
