body{background:#fff}
#header{
    height:40px;
    overflow:hidden;
    background:#3881db url('skin/bar-header.png');
    padding: 0 20px 0 40px;
}
#header .hlist *{
    height:40px;
    line-height:40px;
}
#header .home a{
    background: transparent url('skin/logo.jpeg') no-repeat scroll 0 4px;
    padding-left:90px;
    width:215px;
    color:#fff;
    text-shadow:none;
}
#header a{
    color:#000;
    font-weight:bold;
    font-size:1.1em;
    text-shadow:1px 1px 1px #4486d1;
    display:block;
    padding:0 10px;
}
#header .selected a{
    color:#fff;
    text-shadow:none;
}
#subheader{
    color:#777;
    height:36px;
    line-height:36px;
    padding:0 20px;
    background:#f1f1f1 url('skin/bar-subheader.png');
    margin-bottom:20px;
}
#subheader .logout{
    display:block;
    float:right;
    height:24px;
    line-height:24px;
    margin-top:6px;
}
#subheader span{
/*    float:right;*/
}
#subheader a.logout{
    color:#000;
    padding-left:24px;
    margin-left:10px;
    background: transparent url('skin/icon_24.png') no-repeat scroll 0 0;
}
a.notif{color:#900 !important}
#page-login{margin-top:50px;}
table.form td{padding:0}
table.grid, table.grid th, table.grid td{border:1px solid #ddd; font-size: 9px;}
table.summary .primary{font-weight:bold;font-size:1.1em}
table.summary td{background:#f8f8f8}
table.summary .alt td{background:#f2f2f2}
table.summary tr.hover td{background:#def; cursor:pointer;}
table th{
    background:#eee;
}
table .pct{font-size:1.6em;background:#E9F4FF}
.money{
    text-align:right;
}

.sld{
    background:#fafafa url('skin/tile-dot.png');
    padding:20px;
}
.sld .selector{padding-left: 50px}
.sld .action{float:left;margin-right:10px;padding-right:5px; cursor:pointer}
.sld .action.selected{background-color:#fff}
.sld .img{width:90%; background:#fff;margin:0 auto}
.sld img{}
.info .action{
    float:right;
    background-color:#eee;
    padding: 0 5px 0 24px;
}
.info dl.block dd .date{font-style:italic;font-size:.9em; color:#557CB1}
.title{
    height:20px;
    line-height:20px;
}
.title h2{
    float:left;
    margin-right:10px;
}

.progress{font-size:.9em; font-weight:bold;color:#fff;}
.progress.high{background:#090}
.progress.medium{background:#ED7E19}
.progress.low{background:#900}

.frame{border:1px solid #ddd}
.filter{
    background:#f8f8f8;
    padding:10px;
    margin-bottom:0;
}
form.filter input[type="text"].text{
    border:1px solid #bbb;
}
td.contractor{width:200px}
td.contractor h4{
    font-size:12px;
}

.pagination {
    text-align: center;
    background-color: #DDDDDD;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 100%;
    float: left;
}

.center {
    text-align: center;
}

table.grid .head1 td{background:#457BEF; color:#fff;border-color:#457BEF;}
table.grid .head2 td{background:#eee;}
table.grid .head3 td{background:#def;}
table.grid .head4 td{background:#457BEF; color:#fff;border-color:#fff}
table.grid td{vertical-align: middle}

.bold {
    font-weight: bold;
}

.amandement-list {
    display: none
}

table.grid td.amandement{
    padding:0;
}
table.grid a.amandement{
    background:#FFFBD0;
    padding:2px 10px;
    display:block;
}
table.grid .amandement-list td{
    background:#FFFBD0;
}

.note{
    background:#CDFFCA;
    color:#11870F;
    padding:2px 20px;
}
.head-menu{
    margin-bottom:20px;
}
.head-menu .hlist li{
    background:#eee;
    margin:0;
    padding: 0 20px;
    height:20px;
    line-height:20px;
    border-right:1px solid #fff;
}
.head-menu .hlist li.first{
    -moz-border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}
.head-menu .hlist li.last{
    -moz-border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
    border-right: 0 none;
}
.head-menu .hlist li.current{
    background:#971117;
}
.head-menu .hlist li.current a{
    color:#fff;
}
.head-menu .hlist li a{
    color:#111;
    font-weight:bold;
    font-size:.9em;
    line-height:20px;
}

table.grid .bold{background:#FFFBD0;}
table.grid .cat td{background:#f5f5f5; border-right:1px solid #f5f5f5}
table.grid .cat td:last-child{border-right:1px solid #ddd}
