<div class="sidebar app-aside" id="sidebar">
    <div class="sidebar-container perfect-scrollbar">
        <nav>
            <!-- start: SEARCH FORM -->
            <div class="search-form">
                <a class="s-open" href="#">
                    <i class="ti-search"></i>
                </a>
                <form class="navbar-form" role="search">
                    <a class="s-remove" href="#" target=".navbar-form">
                        <i class="ti-close"></i>
                    </a>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search...">
                        <button class="btn search-button" type="submit">
                            <i class="ti-search"></i>
                        </button>
                    </div>
                </form>
            </div>
            <!-- end: SEARCH FORM -->
            <!-- start: MAIN NAVIGATION MENU -->
            <div class="navbar-title">
                <span>Main Navigation</span>
            </div>
            <ul class="main-navigation-menu">
                <% if params[:controller] == "admins" %>
                <li class="active open">
                <% else %>
                <li>
                <% end %>
                    <a href="/admins">
                        <div class="item-content">
                            <div class="item-media">
                                <i class="fa fa-home"></i>
                            </div>
                            <div class="item-inner">
                                <span class="title"> Dashboard </span>
                            </div>
                        </div>
                    </a>
                </li>
                <% if admin_signed_in? %>
                    <!-- <li class="active open"></li> -->
                    <% if params[:controller] == "admin/quizzes" %>
                    <li class="active open">
                    <% else %>
                    <li>
                    <% end %>                    
                    </li>


                    <% if params[:controller] == "admin/admins" %>
                    <li class="active open">
                    <% else %>
                    <li>
                    <% end %>
                    <%= link_to admin_admins_path do %>
                        <div class="item-content">
                            <div class="item-media">
                                <i class="fa fa-user-plus "></i>
                            </div>
                            <div class="item-inner">
                                <span class="title"> Admin </span>
                            </div>
                        </div>
                    <% end %>                        
                    </li>

                    <% if params[:controller] == "admin/photo_sliders" %>
                    <li class="active open">
                    <% else %>
                    <li>
                    <% end %>
                    <%= link_to admin_photo_sliders_path do %>
                        <div class="item-content">
                            <div class="item-media">
                                <i class="fa fa-user-plus "></i>
                            </div>
                            <div class="item-inner">
                                <span class="title"> Photo Slider</span>
                            </div>
                        </div>
                    <% end %>                        
                    </li>

                    <% if params[:controller] == "admin/product_types" %>
                    <li class="active open">
                    <% else %>
                    <li>
                    <% end %>
                    <%= link_to admin_product_types_path do %>
                        <div class="item-content">
                                <div class="item-media">
                                    <i class="fa fa-user"></i>
                                </div>
                                <div class="item-inner">
                                    <span class="title"> Product Type </span>
                                </div>
                            </div>
                    <% end %>                 
                    </li>

                    <% if params[:controller] == "admin/products" %>
                    <li class="active open">
                    <% else %>
                    <li>
                    <% end %>
                    <%= link_to admin_products_path do %>
                        <div class="item-content">
                                <div class="item-media">
                                    <i class="fa fa-user"></i>
                                </div>
                                <div class="item-inner">
                                    <span class="title"> Product </span>
                                </div>
                            </div>
                    <% end %>                 
                    </li> 
                                    
                    
                    <% if params[:controller] == "admin/regions" %>
                    <li class="active open">
                    <% else %>
                    <li>
                    <% end %>                    
                    </li>
                <% end %>
            </ul>
            <!-- end: MAIN NAVIGATION MENU -->
        </nav>
    </div>
</div>