<%= form_for([:admin, @admin], html: {class: "form-horizontal"}) do |f| %>
  <% if @admin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @admin.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <label class="col-sm-3 control-label">
      Name
    </label>
    <div class="col-sm-7">
      <%= f.text_field :name, class: 'form-control', placeholder: 'Enter name ..' %>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label">
      Email
    </label>
    <div class="col-sm-7">
      <%= f.email_field :email, class: 'form-control', placeholder: 'Enter email ..' %>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label">
      Username
    </label>
    <div class="col-sm-7">
      <%= f.text_field :username, class: 'form-control', placeholder: 'Enter id ..' %>
    </div>
  </div>
  <% if params[:action] == "edit" %>
    <div class="form-group">
      <label class="col-sm-3 control-label">
        Current Password
      </label>
      <div class="col-sm-7">
        <%= f.password_field :current_password, class: 'form-control', placeholder: 'Enter current password ..' %>
      </div>
    </div>
  <% end %>
  <div class="form-group">
    <label class="col-sm-3 control-label">
      Password
    </label>
    <div class="col-sm-7">
      <%= f.password_field :password, class: 'form-control', placeholder: 'Enter password ..' %>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label">
      Password Confirmation
    </label>
    <div class="col-sm-7">
      <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Enter password confirmation ..' %>
    </div>
  </div>  
  
  <div class="form-group">
    <label class="col-sm-3 control-label">
      Address
    </label>
    <div class="col-sm-7">
      <%= f.text_area :address, class: 'form-control', placeholder: 'Enter address ..' %>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-3 control-label">
      Phone
    </label>
    <div class="col-sm-7">
      <%= f.text_field :phone, class: 'form-control', placeholder: 'Enter phone ..' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-7">
      <button type="submit" class="btn btn-o btn-primary">
        Submit
      </button>

      &nbsp; &nbsp; &nbsp;
      <button class="btn" type="reset">
          <i class="icon-undo bigger-110"></i>
          Reset
      </button>
    </div>

  </div>
<% end %>

<%= content_for :css do %>
  
    <!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->
    <link href="/vendor/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet" media="screen">
    <link href="/vendor/select2/select2.min.css" rel="stylesheet" media="screen">
    <link href="/vendor/bootstrap-datepicker/bootstrap-datepicker3.standalone.min.css" rel="stylesheet" media="screen">
    <link href="/vendor/bootstrap-timepicker/bootstrap-timepicker.min.css" rel="stylesheet" media="screen">
    <!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->
<% end %>

<%= content_for :js do %>
    
    <!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
    <script src="/vendor/ckeditor/ckeditor.js"></script>
    <script src="/vendor/ckeditor/adapters/jquery.js"></script>
    <script src="/vendor/jquery-validation/jquery.validate.min.js"></script>

    <script src="/vendor/maskedinput/jquery.maskedinput.min.js"></script>
    <script src="/vendor/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
    <script src="/vendor/autosize/autosize.min.js"></script>
    <script src="/vendor/selectFx/classie.js"></script>
    <script src="/vendor/selectFx/selectFx.js"></script>
    <script src="/vendor/select2/select2.min.js"></script>
    <script src="/vendor/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="/vendor/bootstrap-timepicker/bootstrap-timepicker.min.js"></script>
    <!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
  
    <!-- start: JavaScript Event Handlers for this page -->
    <script src="/assets/js/form-validation.js"></script>
    <script src="/assets/js/form-elements.js"></script>
    <script>
      jQuery(document).ready(function() {
        Main.init();
        FormValidator.init();
        FormElements.init();
      });
    </script>
<% end %>
