<div class="wrap-content container" id="container">
<!-- start: PAGE TITLE -->
<section id="page-title">
  <div class="row">
    <div class="col-sm-8">
      <h1 class="mainTitle">ADMIN LIST</h1>
      <span class="mainDescription"></span>
    </div>
    <ol class="breadcrumb">
      <li>
        <span>Dashboard</span>
      </li>
      <li class="active">
        <span>Admin List</span>
      </li>
    </ol>
  </div>
</section>
<!-- end: PAGE TITLE -->            

<div class="clearfix">&nbsp;</div>

<!-- start: DYNAMIC TABLE -->
<div class="container-fluid container-fullw">
  <div class="row">
    <div class="col-md-12">
      <h5 class="over-title margin-bottom-15">List of <span class="text-bold">admins</span></h5>
      <div class="row">
        <div class="col-md-6 space20">
          <a href="/admin/admins/new" class="btn btn-green">
            Add New <i class="fa fa-plus"></i>
          </a>                      
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover table-full-width dataTable no-footer" id="sample_1">
          <thead>
            <tr>
              	<th>Name</th>
               	<th>Email</th>                               
                <th>Address</th>
                <th>Phone</th>
                <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% @admins.each do |admin| %>
              <tr class="admin-content-table">
                <td><%= admin.name %></td>
                <td><%= admin.email %></td>
                <td><%= admin.address %></td>                
                <td><%= admin.phone %></td>
                <td>
                <a href="<%= admin_admin_path(admin) %>" class="btn btn-xs btn-default">
                  Show
                </a>
                <a href="<%= edit_admin_admin_path(admin) %>" class="btn btn-xs btn-default">
                  Edit
                </a>

                <a data-confirm="Are you sure?" data-method="delete" href="<%= admin_admin_path(admin) %>" class="btn btn-xs btn-danger" rel="nofollow">
                  Delete
                </a>
              </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</div>

<%= content_for :css do %>
<!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->
<link href="/vendor/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet" media="screen">
<link href="/vendor/select2/select2.min.css" rel="stylesheet" media="screen">
<link href="/vendor/bootstrap-datepicker/bootstrap-datepicker3.standalone.min.css" rel="stylesheet" media="screen">
<link href="/vendor/bootstrap-timepicker/bootstrap-timepicker.min.css" rel="stylesheet" media="screen">
<link href="/vendor/DataTables/css/DT_bootstrap.css" rel="stylesheet" media="screen">
<!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->
<% end %>

<%= content_for :js do %>
<!-- start: JavaScript Event Handlers for this page -->
<script src="/vendor/maskedinput/jquery.maskedinput.min.js"></script>
<script src="/vendor/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
<script src="/vendor/autosize/autosize.min.js"></script>
<script src="/vendor/selectFx/classie.js"></script>
<script src="/vendor/selectFx/selectFx.js"></script>
<script src="/vendor/select2/select2.min.js"></script>
<script src="/vendor/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
<script src="/vendor/bootstrap-timepicker/bootstrap-timepicker.min.js"></script>
<!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
<!-- start: JavaScript Event Handlers for this page -->
<script src="/assets/js/form-elements.js"></script>
<script src="/vendor/DataTables/jquery.dataTables.min.js"></script>
<script src="/assets/js/table-data.js"></script>
<script>
    jQuery(document).ready(function() {
        Main.init();
        TableData.init();
        FormElements.init();
    });
</script>
<!-- end: JavaScript Event Handlers for this page -->
<% end %>