<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Meta Data -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Boutique — Elegant WooCommerce Theme</title>

  <!-- Site Icon -->
  <link rel="apple-touch-icon" sizes="57x57" href="frontend/assets/img/icons/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="frontend/assets/img/icons/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="frontend/assets/img/icons/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="frontend/assets/img/icons/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="frontend/assets/img/icons/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="frontend/assets/img/icons/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="frontend/assets/img/icons/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="frontend/assets/img/icons/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="frontend/assets/img/icons/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="frontend/assets/img/icons/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="frontend/assets/img/icons/android-chrome-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="frontend/assets/img/icons/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="frontend/assets/img/icons/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="frontend/assets/img/icons/manifest.json">
  <link rel="mask-icon" href="frontend/assets/img/icons/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="frontend/assets/img/icons/favicon.ico">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-TileImage" content="frontend/assets/img/icons/mstile-144x144.png">
  <meta name="msapplication-config" content="frontend/assets/img/icons/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

  <!-- Dependency Styles -->
  <link rel="stylesheet" href="frontend/dependencies/loaders.css/loaders.min.css" type="text/css">
  <link rel="stylesheet" href="frontend/dependencies/bootstrap/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="frontend/dependencies/font-awesome/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="frontend/dependencies/7-stroke/css/pe-icon-7-stroke.css" type="text/css">
  <link rel="stylesheet" href="frontend/dependencies/animate.css/animate.min.css" type="text/css">
  <link rel="stylesheet" href="frontend/dependencies/Swiper/css/swiper.min.css" type="text/css">
  <link rel="stylesheet" href="frontend/dependencies/magnific-popup/magnific-popup.css" type="text/css">

  <!-- Site Stylesheet -->
  <link rel="stylesheet" href="frontend/assets/css/app.css" type="text/css">

  <!-- Google Web Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Poppins:400,300,700,500,600|Playfair+Display:400,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>


</head>
<body id="home-version-2" class="home-version-2 transparent-header" data-style="default">

  <div id="preloader">
    <div class="loader-inner line-scale-pulse-out"></div>
  </div><!-- /#preloader -->

  <div id="site">

    <!--=================================
    =            Site Header            =
    ==================================-->
    <header id="masthead" class="site-header">
      <div class="container">
        <div class="header-middle-area">
          <div class="site-menu style-two">
            <div class="menu-toggle" data-dt-toggle="menu-style-2-open" data-dt-toggle-false="search-form-open" aria-expanded="false">
              <div></div>
              <div></div>
              <div></div>
            </div><!-- /.menu-toggle -->

            <div id="secondary-menu" class="menu-overlay-full" role="navigation">
              <div class="container">
                <div id="secondary-menu-container" class="secondary-menu">
                  <ul>
                    <li class="active"><a href="index.html">Home</a></li>
                    <li><a href="category-with-sidebar.html">Categories</a></li>
                    <li><a href="category-with-page-header.html">New Arrivals</a></li>
                    <li><a href="lookbooks.html">Lookbook</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="contact.html">Contact</a></li>
                  </ul>
                </div><!-- /#secondary-menu-container -->

                <div class="footer-with-social">
                  <ul class="list-inline">
                    <li><a href="#facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#pinterest"><i class="fa fa-pinterest"></i></a></li>
                    <li><a href="#google-plus"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#instagram"><i class="fa fa-instagram"></i></a></li>
                  </ul>

                  <div class="copyright-info">
                    Copyright &copy; 2016 - All Rights Reserved
                  </div><!-- /.copyright-info -->
                </div><!-- /.footer-with-social -->
              </div><!-- /.container -->
            </div><!-- /#menu-secondary.menu-overlay-full -->
          </div><!-- /.site-menu-two -->

          <div class="site-branding">
            <a href="index.html" id="site-logo">
              <img class="normal-logo" src="frontend/assets/img/logo.png" alt="Boutique">
              <img class="transparent-logo" src="frontend/assets/img/logo-transparent.png" alt="Boutique">
            </a>
          </div><!-- /.site-branding -->

          <div class="site-menu-icon">
            <ul class="list-inline">
              <li>
                <a href="shopping-cart.html">
                  <i class="pe-7s-shopbag"></i>
                  <span class="badge">5</span>
                </a>
              </li>
              <li>
                <a href="#" data-dt-toggle="search-form-open" data-dt-toggle-false="menu-style-2-open">
                  <i class="pe-7s-search"></i>
                  <i class="icon-close"></i>
                </a>
                <div class="site-overlay-search">
                  <div class="container">
                    <form role="search" method="get">
                      <input type="text" value="" placeholder="Search here..." name="s" id="s"  />
                    </form>
                  </div><!-- /.container -->
                </div><!-- /.site-overlay-search -->
              </li>
            </ul>
          </div><!-- /.site-menu-icon -->
        </div><!-- /.header-middle-area -->
      </div><!-- /.container -->
    </header><!-- /#masthead -->
    <div id="header-fake-mask"></div>

    <!--=================================
    =            Site Banner            =
    ==================================-->
    <section id="site-slider" class="site-main-slider main-slider-v2" data-carousel="swiper">
      <div class="swiper-container" data-swiper="container" data-loop="true" data-autoplay="3000">
        <div class="swiper-wrapper">
          <div class="swiper-slide slide-v2">
            <img class="img-responsive" src="frontend/static/slider/v2/01/background.jpg" alt="Slide 01">
            <div class="slide-caption">
              <div class="container">
                <div class="slide-caption-content">
                  <div class="slide-heading-small color-alt" data-animate="fadeInUp" data-delay="0.2s" data-duration="0.5s">Pojok Kebul</div>
                  <div class="slide-heading text-uppercase color-black" data-animate="fadeInUp" data-delay="0.4s" data-duration="0.5s">Pojok Tempat Ngebul Bari Ngawangkong</div>
                  <div class="slide-sub-heading font-alt font-italic color-black" data-animate="fadeInUp" data-delay="0.6s" data-duration="0.5s">50 classic looks for summer</div>
                </div><!-- /.slide-caption-content -->
              </div><!-- /.container -->
            </div><!-- /.slide-caption -->
          </div><!-- /.swiper-slide -->

          <div class="swiper-slide slide-v2">
            <img class="img-responsive" src="frontend/static/slider/v2/01/background_2.jpg" alt="Slide 01">
            <div class="slide-caption">
              <div class="container">
                <div class="slide-caption-content">
                  <div class="slide-heading-small color-alt" data-animate="fadeInUp" data-delay="0.2s" data-duration="0.5s">Retro Special</div>
                  <div class="slide-heading text-uppercase color-white" data-animate="fadeInUp" data-delay="0.4s" data-duration="0.5s">Summer Essential</div>
                  <div class="slide-sub-heading font-alt font-italic color-white" data-animate="fadeInUp" data-delay="0.6s" data-duration="0.5s">50 classic looks for summer</div>
                </div><!-- /.slide-caption-content -->
              </div><!-- /.container -->
            </div><!-- /.slide-caption -->
          </div><!-- /.swiper-slide -->

          <div class="swiper-slide slide-v2">
            <img class="img-responsive" src="frontend/static/slider/v2/01/background_3.jpg" alt="Slide 01">
            <div class="slide-caption">
              <div class="container">
                <div class="slide-caption-content">
                  <div class="slide-heading-small color-alt" data-animate="fadeInUp" data-delay="0.2s" data-duration="0.5s">Pocca</div>
                  <div class="slide-heading text-uppercase color-white" data-animate="fadeInUp" data-delay="0.4s" data-duration="0.5s">Summer Essential</div>
                  <div class="slide-sub-heading font-alt font-italic color-white" data-animate="fadeInUp" data-delay="0.6s" data-duration="0.5s">50 classic looks for summer</div>
                </div><!-- /.slide-caption-content -->
              </div><!-- /.container -->
            </div><!-- /.slide-caption -->
          </div><!-- /.swiper-slide -->          

        </div><!-- /.swiper-wrapper -->
      </div><!-- /.swiper-container -->
    </section><!-- /#site-slider -->

    <!--====================================
    =            Thumbnail Menu            =
    =====================================-->
    <section id="site-thumbnail-menu" class="site-thumbnail-menu">
      <div class="row">
        <div class="col-md-3 col-sm-6 isAnimated fadeInRight">
          <a href="#item-1" class="thumbnail-menu-item">
            <!-- <img src="frontend/static/sections/thumbnail-menu/01.jpg" alt="Thumbnail item 01"> -->
            <img src="/assets/images/pokeb_1_coiling.png" alt="Thumbnail item 01">            
            <div class="item-caption">
              <i class="fi-camisa-con-tirantes"></i>
              <span>Coiling</span>
            </div>
          </a><!-- /.thumbnail-menu-item -->
        </div><!-- /.col-md-3 -->

        <div class="col-md-3 col-sm-6 isAnimated fadeInRight" data-wow-delay="0.25s">
          <a href="#item-1" class="thumbnail-menu-item">
            <!-- <img src="frontend/static/sections/thumbnail-menu/02.jpg" alt="Thumbnail item 02"> -->
            <img src="/assets/images/pokeb_2_wicking.png" alt="Thumbnail item 01">
            <div class="item-caption">
              <i class="fi-camisa-con-tirantes"></i>
              <span>Wicking</span>
            </div>
          </a><!-- /.thumbnail-menu-item -->
        </div><!-- /.col-md-3 -->

        <div class="col-md-3 col-sm-6 isAnimated fadeInRight" data-wow-delay="0.35s">
          <a href="#item-1" class="thumbnail-menu-item">
            <!-- <img src="frontend/static/sections/thumbnail-menu/03.jpg" alt="Thumbnail item 03"> -->
            <img src="/assets/images/pokeb_3_driping.png" alt="Thumbnail item 01">
            <div class="item-caption">
              <i class="fi-camisa-con-tirantes"></i>
              <span>Dripping</span>
            </div>
          </a><!-- /.thumbnail-menu-item -->
        </div><!-- /.col-md-3 -->

        <div class="col-md-3 col-sm-6 isAnimated fadeInRight" data-wow-delay="0.45s">
          <a href="#item-1" class="thumbnail-menu-item">
            <!-- <img src="frontend/static/sections/thumbnail-menu/04.jpg" alt="Thumbnail item 04"> -->
            <img src="/assets/images/pokeb_4_vaping.png" alt="Thumbnail item 01">
            <div class="item-caption">
              <i class="fi-camisa-con-tirantes"></i>
              <span>Vaping</span>
            </div>
          </a><!-- /.thumbnail-menu-item -->
        </div><!-- /.col-md-3 -->
      </div><!-- /.row -->
    </section><!-- /#site-thumbnail-menu -->

    <!--====================================
    =            Site Lookbooks            =
    =====================================-->
    <section id="site-lookbooks" class="site-section section-lookbooks">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-6">
            <a href="#" class="look-category-item bottom-left-content isAnimated fadeInLeft">
              <img src="frontend/static/sections/lookbooks/category-image/01.jpg" alt="Category 01">
              <div class="look-category-caption">
                <div class="look-title">The</div>
                <div class="look-title-2-alt">Classic</div>
                <div class="look-title-3">Gentleman</div>
              </div><!-- /.look-category-caption -->
            </a><!-- /.look-category-item -->

            <a href="#" class="look-category-item center-middle-content isAnimated fadeInLeft" data-wow-delay="0.25s">
              <img src="frontend/static/sections/lookbooks/category-image/03.jpg" alt="Category 01">
              <div class="look-category-caption">
                <div class="look-title-4">Streetstyle</div>
                <div class="look-title-5-alt">Inspiration</div>
              </div><!-- /.look-category-caption -->
            </a><!-- /.look-category-item -->
          </div><!-- /.col-md-4 -->

          <div class="col-md-8 col-sm-6">
            <div class="row">
              <div class="col-md-6 lookbook-icon look-cat">
                <div class="section-heading x2 has-graphic">
                  <h2 class="section-title isAnimated fadeInUp">Look Book</h2>
                  <img src="frontend/static/sections/lookbooks/iconic-heading-1.png" alt="Section Graphic" class="section-heading-graphic isAnimated fadeIn">
                  <div class="section-description isAnimated fadeInUp" data-wow-delay="0.25s">Autumn/Winter outfit 2016</div>
                </div><!-- /.section-heading -->
              </div><!-- /.col-md-6 -->

              <div class="col-md-6 isAnimated fadeInRight">
                <a href="#" class="look-category-item bottom-left-content">
                  <img src="frontend/static/sections/lookbooks/category-image/02.jpg" alt="Category 01">
                  <div class="look-category-caption">
                    <div class="look-title-6-font-alt">Gifts for</div>
                    <div class="look-title-7-alt">Hipster</div>
                  </div><!-- /.look-category-caption -->
                </a><!-- /.look-category-item -->
              </div><!-- /.col-md-6 -->
            </div><!-- /.row -->

            <a href="#" class="look-category-item center-middle-content isAnimated fadeInUp">
              <img src="frontend/static/sections/lookbooks/category-image/04.jpg" alt="Category 01">
              <div class="look-category-caption">
                <div class="look-title-8-font-alt">Leather</div>
                <div class="look-title-9-alt">Accessories</div>
              </div><!-- /.look-category-caption -->
            </a><!-- /.look-category-item -->
          </div><!-- /.col-md-8 -->
        </div><!-- /.container -->
      </section><!-- /#site-lookbooks -->

    <!--==================================
    =            Special Area            =
    ===================================-->
    <section id="site-special-area" class="site-special-area alt site-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6 isAnimated fadeInUp">
            <img src="frontend/static/sections/special-area/card-image.jpg" alt="Card Image" class="card-style">
          </div><!-- /.col-md-6 -->

          <div class="col-md-6">
            <h4 class="special-title-gray isAnimated fadeInUp">We're Hipster Agency</h4>
            <h2 class="special-title isAnimated fadeInUp" data-wow-delay="0.25s">Over 100 years of fashion histroy.</h2>
            <p class="special-content isAnimated fadeInUp" data-wow-delay="0.35s">I want a guy who is masculine, good with his hands and able to build stuff and who has survival skills. Facial hair is a big turn-on. Most of the kids I hang out with in New York are hipster arty types, but I like a stronger, more physically imposing man.</p>
          </div><!-- /.col-md-6 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /#site-special-area -->

    <!--====================================
    =            New Collection            =
    =====================================-->
    <section id="site-new-collection" class="site-new-collection site-section">
      <div class="container">
        <!-- Section Heading -->
        <div class="section-heading has-graphic">
          <h3 class="section-title-lite isAnimated fadeInUp">New</h3>
          <h2 class="section-title isAnimated fadeInUp" data-wow-delay="0.25s">Collection</h2>
          <img src="frontend/static/sections/lookbooks/heading-graphic.png" alt="Section Graphic" class="section-heading-graphic isAnimated fadeIn">
          <div class="section-description large isAnimated fadeInUp" data-wow-delay="0.35s">
            Get a look with our new collection
          </div><!-- /.section-description -->
        </div><!-- /.section-heading -->

        <div class="row products-list fix-height margin-bottom-100">
          <div class="col-md-3 col-sm-6 isAnimated fadeInUp">
            <div class="product-item">
              <div class="item-image">
                <img src="frontend/static/sections/new-collection/image.jpg" alt="01">

                <ul class="item-action">
                  <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                  <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                  <li><a href="#"><i class="fa fa-random"></i></a></li>
                </ul><!-- /.item-action -->
              </div><!-- /.item-image -->

              <h2 class="item-title"><a href="#">Caro Suait Man</a></h2>
              <div class="item-price">
                <span><span class="currency">$</span> 125.00</span>
                <del class="del"><span class="currency">$</span> 150.00</del>
              </div><!-- /.item-price -->
            </div><!-- /.product-item -->
          </div><!-- /.col-md-3 col-sm-6 -->

          <div class="col-md-3 col-sm-6 isAnimated fadeInUp" data-wow-delay="0.35s">
            <div class="product-item">
              <div class="item-image">
                <img src="frontend/static/sections/new-collection/image-1.jpg" alt="02">

                <ul class="item-action">
                  <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                  <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                  <li><a href="#"><i class="fa fa-random"></i></a></li>
                </ul><!-- /.item-action -->
              </div><!-- /.item-image -->

              <h2 class="item-title"><a href="#">Caro Suait Man</a></h2>
              <div class="item-price">
                <span><span class="currency">$</span> 125.00</span>
                <del class="del"><span class="currency">$</span> 150.00</del>
              </div><!-- /.item-price -->
            </div><!-- /.product-item -->
          </div><!-- /.col-md-3 col-sm-6 -->

          <div class="col-md-3 col-sm-6 isAnimated fadeInUp" data-wow-delay="0.45s">
            <div class="product-item">
              <div class="item-image">
                <img src="frontend/static/sections/new-collection/image-2.jpg" alt="03">

                <ul class="item-action">
                  <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                  <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                  <li><a href="#"><i class="fa fa-random"></i></a></li>
                </ul><!-- /.item-action -->
              </div><!-- /.item-image -->

              <h2 class="item-title"><a href="#">Caro Suait Man</a></h2>
              <div class="item-price">
                <span><span class="currency">$</span> 125.00</span>
                <del class="del"><span class="currency">$</span> 150.00</del>
              </div><!-- /.item-price -->
            </div><!-- /.product-item -->
          </div><!-- /.col-md-3 col-sm-6 -->

          <div class="col-md-3 col-sm-6 isAnimated fadeInUp" data-wow-delay="0.55s">
            <div class="product-item">
              <div class="item-image">
                <img src="frontend/static/sections/new-collection/image-3.jpg" alt="04">

                <ul class="item-action">
                  <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                  <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                  <li><a href="#"><i class="fa fa-random"></i></a></li>
                </ul><!-- /.item-action -->
              </div><!-- /.item-image -->

              <h2 class="item-title"><a href="#">Caro Suait Man</a></h2>
              <div class="item-price">
                <span><span class="currency">$</span> 125.00</span>
                <del class="del"><span class="currency">$</span> 150.00</del>
              </div><!-- /.item-price -->
            </div><!-- /.product-item -->
          </div><!-- /.col-md-3 col-sm-6 -->

          <div class="col-md-3 col-sm-6 isAnimated fadeInUp">
            <div class="product-item">
              <div class="item-image">
                <img src="frontend/static/sections/new-collection/image-4.jpg" alt="04">

                <ul class="item-action">
                  <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                  <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                  <li><a href="#"><i class="fa fa-random"></i></a></li>
                </ul><!-- /.item-action -->
              </div><!-- /.item-image -->

              <h2 class="item-title"><a href="#">Caro Suait Man</a></h2>
              <div class="item-price">
                <span><span class="currency">$</span> 125.00</span>
                <del class="del"><span class="currency">$</span> 150.00</del>
              </div><!-- /.item-price -->
            </div><!-- /.product-item -->
          </div><!-- /.col-md-3 col-sm-6 -->

          <div class="col-md-3 col-sm-6 isAnimated fadeInUp" data-wow-delay="0.25s">
            <div class="product-item">
              <div class="item-image">
                <img src="frontend/static/sections/new-collection/image-5.jpg" alt="04">

                <ul class="item-action">
                  <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                  <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                  <li><a href="#"><i class="fa fa-random"></i></a></li>
                </ul><!-- /.item-action -->
              </div><!-- /.item-image -->

              <h2 class="item-title"><a href="#">Caro Suait Man</a></h2>
              <div class="item-price">
                <span><span class="currency">$</span> 125.00</span>
                <del class="del"><span class="currency">$</span> 150.00</del>
              </div><!-- /.item-price -->
            </div><!-- /.product-item -->
          </div><!-- /.col-md-3 col-sm-6 -->

          <div class="col-md-3 col-sm-6 isAnimated fadeInUp" data-wow-delay="0.35s">
            <div class="product-item">
              <div class="item-image">
                <img src="frontend/static/sections/new-collection/image-6.jpg" alt="04">

                <ul class="item-action">
                  <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                  <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                  <li><a href="#"><i class="fa fa-random"></i></a></li>
                </ul><!-- /.item-action -->
              </div><!-- /.item-image -->

              <h2 class="item-title"><a href="#">Caro Suait Man</a></h2>
              <div class="item-price">
                <span><span class="currency">$</span> 125.00</span>
                <del class="del"><span class="currency">$</span> 150.00</del>
              </div><!-- /.item-price -->
            </div><!-- /.product-item -->
          </div><!-- /.col-md-3 col-sm-6 -->

          <div class="col-md-3 col-sm-6 isAnimated fadeInUp" data-wow-delay="0.45s">
            <div class="product-item">
              <div class="item-image">
                <img src="frontend/static/sections/new-collection/image-7.jpg" alt="04">

                <ul class="item-action">
                  <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                  <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                  <li><a href="#"><i class="fa fa-random"></i></a></li>
                </ul><!-- /.item-action -->
              </div><!-- /.item-image -->

              <h2 class="item-title"><a href="#">Caro Suait Man</a></h2>
              <div class="item-price">
                <span><span class="currency">$</span> 125.00</span>
                <del class="del"><span class="currency">$</span> 150.00</del>
              </div><!-- /.item-price -->
            </div><!-- /.product-item -->
          </div><!-- /.col-md-3 col-sm-6 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /#site-new-collection -->

    <!--==================================
    =            Site Feature            =
    ===================================-->
    <section id="site-features" class="site-features margin-bottom-100 isAnimated fadeInUp">
      <div class="container">
        <div class="row top-bottom-border">

          <div class="col-sm-4">
            <div class="feauture-box">
              <i class="fa fa-anchor"></i>
              <h3>Free World Wide Shipping</h3>
            </div><!-- /.feauture-box -->
          </div><!-- /.col-md-4 -->

          <div class="col-sm-4">
            <div class="feauture-box">
              <i class="fa fa-usd"></i>
              <h3>Money Back Guarantee</h3>
            </div><!-- /.feauture-box -->
          </div><!-- /.col-md-4 -->

          <div class="col-sm-4">
            <div class="feauture-box last">
              <i class="fa fa-life-ring"></i>
              <h3>Online 24/7 Support</h3>
            </div><!-- /.feauture-box -->
          </div><!-- /.col-md-4 -->

        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /#site-features -->

    <!--=====================================
    =            Site Newsletter            =
    ======================================-->
    <section id="site-newsletter" class="site-newsletter margin-bottom-30 site-newsletter-v2">
      <div class="row">
        <div class="col-sm-6">
          <div class="row">
            <div class="newsletter-subscribe-form">
              <div class="title-area">
                <h2 class="isAnimated fadeInUp" data-wow-delay="0.25s">Subscribe to our newsletter</h2>
                <img src="frontend/static/sections/newsletter/title-graphic.png" alt="Title Graphic" class="title-graphic isAnimated fadeIn">
                <p class="isAnimated fadeInUp" data-wow-delay="0.35s">Sign up for our Newsletter &amp; Promotion</p>
              </div><!-- /.title-area -->

              <form action="index.html" method="post" class="newsletter-form isAnimated fadeInUp" data-wow-delay="0.25s">
                <input type="email" name="email" id="newsletter-email" placeholder="Your email address here..." required>
                <button type="submit" name="submit" id="newsletter-submit"><i class="fa fa-circle-o-notch fa-spin"></i><span>Signup</span></button>
                <div class="form-result alert"></div>
              </form><!-- /.newsletter-form -->
            </div><!-- /.newsletter-subscribe-form -->
          </div><!-- /.row -->
        </div><!-- /.col-sm-6 -->

        <div class="col-sm-6">
          <div class="row">
            <div class="site-video-popup">
              <a href="#" class="light-box-video">
                <img class="img-responsive" src="frontend/static/sections/newsletter/video-screen.jpg" alt="Video Screen">
                <span class="play-btn"><i class="pe-7s-play"></i></span>
              </a>
            </div><!-- /.site-video-popup -->
          </div><!-- /.row -->
        </div><!-- /.col-sm-6 -->
      </div><!-- /.row -->
    </section><!-- /#site-newsletter -->

    <!--=================================
    =            Latest Blog            =
    ==================================-->
    <section id="site-latest-blog" class="site-latest-blog site-section margin-bottom-100">
      <div class="container">
        <!-- Section Heading -->
        <div class="section-heading isAnimated fadeInUp" data-wow-delay="0.25s">
          <h2 class="section-title-small">Fashion Of 2016</h2>
        </div><!-- /.section-heading -->

        <div class="row">
          <div class="col-md-6 isAnimated fadeInUp" data-wow-delay="0.35s">
            <div class="post-item floating-style">
              <div class="post-thumbnail">
                <img src="frontend/static/sections/latest-blog/v2/01.jpg" alt="Blog Post 1">
              </div><!-- /.post-thumbnail -->

              <div class="post-information">
                <h2 class="post-title"><a href="#">Trending fashion inspirations for modern male</a></h2>
                <ul class="post-meta">
                  <li>John Doe</li>
                  <li><a href="#post-one"><i class="fa fa-comments-o"></i> 36 Comments</a></li>
                </ul><!-- /.post-meta -->

                <div class="post-foot">
                  <div class="post-date">
                    <span>18</span>
                    <span>AUG</span>
                  </div><!-- .post-date -->

                  <div class="read-more-link">
                    <a href="#post-one">Read More... <i class="fa fa-long-arrow-right"></i></a>
                  </div><!-- /.read-more-link -->
                </div><!-- /.post-foot -->
              </div><!-- /.post-information -->
            </div><!-- /.post-item floating-style -->
          </div><!-- /.col-sm-6 -->

          <div class="col-md-6 isAnimated fadeInUp" data-wow-delay="0.45s">
            <div class="post-item floating-style">
              <div class="post-thumbnail">
                <img src="frontend/static/sections/latest-blog/v2/02.jpg" alt="Blog Post 2">
              </div><!-- /.post-thumbnail -->

              <div class="post-information">
                <h2 class="post-title"><a href="#">A look back in collegiate fashion styles</a></h2>
                <ul class="post-meta">
                  <li>John Doe</li>
                  <li><a href="#post-one"><i class="fa fa-comments-o"></i> 36 Comments</a></li>
                </ul><!-- /.post-meta -->

                <div class="post-foot">
                  <div class="post-date">
                    <span>18</span>
                    <span>AUG</span>
                  </div><!-- .post-date -->

                  <div class="read-more-link">
                    <a href="#post-one">Read More... <i class="fa fa-long-arrow-right"></i></a>
                  </div><!-- /.read-more-link -->
                </div><!-- /.post-foot -->
              </div><!-- /.post-information -->
            </div><!-- /.post-item floating-style -->
          </div><!-- /.col-sm-6 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /#site-latest-blog -->

    <!--==================================
    =            Clients Logo            =
    ===================================-->
    <section id="site-clients-logo" class="site-clients-logo site-section alt margin-bottom-0 padding-top-50 padding-bottom-50" data-carousel="swiper">
      <div class="container isAnimated fadeInUp" data-wow-delay="0.25s">
        <div class="clients-logo-carousel swiper-container"
        data-swiper="container"
        data-loop="true"
        data-items="5"
        data-space="50"
        data-autoplay="3000"
        data-breakpoints='{"9999": {"slidesPerView": 6}, "1024": {"slidesPerView": 4}, "768": {"slidesPerView": 3}, "480": {"slidesPerView": 2}}'>
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <a href="#" class="brand-logo"><img src="frontend/static/sections/clients-logo/01.png" alt="Client Logo"></a>
          </div><!-- /.swiper-slide -->
          <div class="swiper-slide">
            <a href="#" class="brand-logo"><img src="frontend/static/sections/clients-logo/02.png" alt="Client Logo"></a>
          </div><!-- /.swiper-slide -->
          <div class="swiper-slide">
            <a href="#" class="brand-logo"><img src="frontend/static/sections/clients-logo/03.png" alt="Client Logo"></a>
          </div><!-- /.swiper-slide -->
          <div class="swiper-slide">
            <a href="#" class="brand-logo"><img src="frontend/static/sections/clients-logo/04.png" alt="Client Logo"></a>
          </div><!-- /.swiper-slide -->
          <div class="swiper-slide">
            <a href="#" class="brand-logo"><img src="frontend/static/sections/clients-logo/05.png" alt="Client Logo"></a>
          </div><!-- /.swiper-slide -->
          <div class="swiper-slide">
            <a href="#" class="brand-logo"><img src="frontend/static/sections/clients-logo/02.png" alt="Client Logo"></a>
          </div><!-- /.swiper-slide -->
        </div><!-- /.swiper-wrapper -->
      </div><!-- /.clients-logo-carousel -->
    </div><!-- /.container -->
  </section><!-- /#site-clients-logo -->

    <!--=================================
    =            Site Footer            =
    ==================================-->
    <footer id="site-footer" class="site-footer style-2">
      <div class="container">
        <div class="row widgets-area">
          <div class="col-md-4 col-sm-6">
            <div class="site-widget">
              <h3>Address</h3>
              <div class="site-widget-address">
                5701 Outlet at Tejon Pkwy, Tejon <br>
                ranch CA 93203 UK <br>
                <span class="light-text">
                  Phone: <strong>(+800) 6868 2268</strong> <br>
                  Email: <strong>Boutique@info.com </strong>
                </span>
              </div><!-- /.site-widget-address -->
            </div><!-- /.site-widget -->
          </div><!-- /.col-md-4 -->

          <div class="col-md-4 col-sm-6">
            <div class="site-widget">
              <h3>Our Services</h3>
              <ul>
                <li><a href="#">Order History</a></li>
                <li><a href="#">Return</a></li>
                <li><a href="#">Customer Service</a></li>
                <li><a href="#">Terms &amp; Condition</a></li>
              </ul>
            </div><!-- /.site-widget -->
          </div><!-- /.col-md-4 -->

          <div class="col-md-4 col-sm-6">
            <div class="site-widget">
              <h3>Payments</h3>
              <div class="site-widget-text">
                <p>Online Secured Payment</p>
                <img src="frontend/static/sections/footer/widgets/payment.png" class="payment-method" alt="Payment Methods">
              </div><!-- /.site-widget-address -->
            </div><!-- /.site-widget -->
          </div><!-- /.col-md-4 -->
        </div><!-- /.row -->

        <div class="copyright-area with-social">
          <ul class="list-inline social-icons">
            <li><a href="#facebook"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#twitter"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#pinterest"><i class="fa fa-pinterest"></i></a></li>
            <li><a href="#google-plus"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#instagram"><i class="fa fa-instagram"></i></a></li>
          </ul>

          <div class="copyright-info">
            Copyright &copy; 2016 - All Rights Reserved
          </div><!-- /.copyright-info -->
        </div><!-- /.copyright-area -->
      </div><!-- /.container -->
    </footer><!-- /#site-footer -->


  </div><!-- /#site -->

  <!-- Dependency Scripts -->
  <script src="frontend/dependencies/jquery/jquery.min.js"></script>
  <script src="frontend/dependencies/loaders.css/loaders.css.js"></script>
  <script src="frontend/dependencies/bootstrap/js/bootstrap.min.js"></script>
  <script src="frontend/dependencies/Swiper/js/swiper.min.js"></script>
  <script src="frontend/dependencies/magnific-popup/jquery.magnific-popup.min.js"></script>
  <script src="frontend/dependencies/isotope/isotope.pkgd.min.js"></script>
  <script src="frontend/dependencies/wow/wow.min.js"></script>

  <!-- Site Scripts -->
  <script src="frontend/assets/js/app.js"></script>



</body>
</html>