  <div class="wrap-content container" id="container">
    <!-- start: PAGE TITLE -->
    <section id="page-title">
      <div class="row">
        <div class="col-sm-8">
          <h1 class="mainTitle">Product Data Detail</h1>
          <span class="mainDescription">Halaman untuk melihat detail Product</span>
        </div>
        <ol class="breadcrumb">
          <li>
            <span>Product View</span>
          </li>
          <li class="active">
            <span>View Product</span>
          </li>
        </ol>
      </div>
    </section>
    <!-- end: PAGE TITLE -->
    <!-- start: BASIC EXAMPLE -->
    <div class="container-fluid container-fullw bg-white">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-lg-8 col-md-12">
              <div class="panel panel-white">
                <div class="panel-heading">
                  <h5 class="panel-title">Detail Product</h5>
                </div>
                <div class="panel-body">
                  <table class="table">
                    <tbody>
                      
                      <tr>
                        <td>Id</td>
                        <td><%= @product.id %></td>
                      </tr
                      <tr>
                        <td>Name Product</td>
                        <td><%= @product.name %></td>
                      </tr>                      
                      <tr>
                        <td>Product Type</td>
                        <td><%= @product.product_type_id %></td>
                      </tr>
                      <tr>
                        <td>Distributor</td>
                        <td><%= @product.distributor_id %></td>
                      </tr>
                      <tr>
                        <td>Capacity</td>
                        <td><%= @product.capacity %>ml</td>
                      </tr>
                      <tr>
                        <td>Nicotin</td>
                        <td><%= @product.nicotin %> Nic</td>
                      </tr>
                      <tr>
                        <td>Flavor</td>
                        <td><%= @product.flavor %></td>
                      </tr>
                      <tr>
                        <td>Quantity</td>
                        <td><%= @product.quantity %></td>
                      </tr>
                      <tr>
                        <td>Capital</td>
                        <td><%= @product.capital %></td>
                      </tr>
                      <tr>
                        <td>Selling Price</td>
                        <td><%= @product.selling_price %></td>
                      </tr>
                      <tr>
                        <td>Stock</td>
                        <td><%= @product.stock %></td>
                      </tr>                                            
                      <tr>
                        <td>Image</td>                        
                        <td><img class="transparent-logo" src="<%= @product.photo.url(:thumb) %>" alt="Boutique"></td>
                      </tr>
                      <tr>
                        <td>Created At</td>
                        <td><%= @product.created_at %></td>
                      </tr>
                      <tr>
                        <td>Update At</td>
                        <td><%= @product.updated_at %></td>
                      </tr>

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 space20">
          <a href="/admin/products/<%= params[:id] %>/edit" class="btn btn-warning">
            Edit <i class="fa fa-edit"></i>
          </a>
          <a href="/admin/products" class="btn btn-info">
            Back <i class="fa fa-reply"></i>
          </a>
        </div>
    </div>     

    </div>
    <!-- end: BASIC EXAMPLE -->

    <!-- start: DYNAMIC TABLE -->
    
  </div>