  <div class="wrap-content container" id="container">
    <!-- start: PAGE TITLE -->
    <section id="page-title">
      <div class="row">
        <div class="col-sm-8">
          <h1 class="mainTitle">Note Data Detail</h1>
          <span class="mainDescription">Halaman untuk melihat detail Note</span>
        </div>
        <ol class="breadcrumb">
          <li>
            <span>Note View</span>
          </li>
          <li class="active">
            <span>View Note</span>
          </li>
        </ol>
      </div>
    </section>
    <!-- end: PAGE TITLE -->
    <!-- start: BASIC EXAMPLE -->
    <div class="container-fluid container-fullw bg-white">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-lg-8 col-md-12">
              <div class="panel panel-white">
                <div class="panel-heading">
                  <h5 class="panel-title">Detail Note</h5>
                </div>
                <div class="panel-body">
                  <table class="table">
                    <tbody>
                      
                      <tr>
                        <td>Id</td>
                        <td><%= @note.id %></td>
                      </tr>
                      <tr>
                        <td>Tittle</td>
                        <td><%= @note.tittle %></td>
                      </tr>
                      <tr>
                        <td>Created At</td>
                        <td><%= @note.created_at %></td>
                      </tr>
                      <tr>
                        <td>Update At</td>
                        <td><%= @note.updated_at %></td>
                      </tr>

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 space20">
          <a href="/admin/notes/<%= params[:id] %>/edit" class="btn btn-warning">
            Edit <i class="fa fa-edit"></i>
          </a>
          <a href="/admin/notes" class="btn btn-info">
            Back <i class="fa fa-reply"></i>
          </a>
        </div>
    </div>

     <div class="container-fluid container-fullw">
      <div class="row">
        <div class="col-md-12">
          <h5 class="over-title margin-bottom-15">List of <span class="text-bold"><%= @note.tittle %></span></h5>
          <div class="row">
            <div class="col-md-12 space20">
              <a href="/admin/notes/<%= params[:id] %>/note_details/new?note_id=<%= params[:id] %>" class="btn btn-green">
                Add New <i class="fa fa-plus"></i>
              </a>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover table-full-width dataTable no-footer" id="sample_1">
              <thead>
                <tr>
                  <th>NO</th>
                  <th>Description</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <% @note.note_details.each do |note_details| %>
                  <tr class="note_details-content-table">
                    <td>                      
                      <a href="/admin/syllabuses/<%= params[:id] %>/note_details/<%= note_details.id %>" >
                        <%= note_details.id %>
                      </a>
                    </td>
                    <td><%= note_details.description %></td>
                    <td>                    
                    <a href="/admin/syllabuses/<%= params[:id] %>/note_details/<%= note_details.id %>/edit" class="btn btn-xs btn-default">
                      Edit
                    </a>

                    <a data-confirm="Are you sure?" data-method="delete" href="/admin/syllabuses/<%= params[:id] %>/note_details/<%= note_details.id %>" class="btn btn-xs btn-danger" rel="nofollow">
                      Delete
                    </a>
                  </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    </div>
    <!-- end: BASIC EXAMPLE -->

    <!-- start: DYNAMIC TABLE -->
    
  </div>
