  <div class="wrap-content container" id="container">
    <!-- start: PAGE TITLE -->
    <section id="page-title">
      <div class="row">
        <div class="col-sm-8">
          <h1 class="mainTitle">User Data Detail</h1>
          <span class="mainDescription">Halaman untuk melihat detail user</span>
        </div>
        <ol class="breadcrumb">
          <li>
            <span>User View</span>
          </li>
          <li class="active">
            <span>View User</span>
          </li>
        </ol>
      </div>
    </section>
    <!-- end: PAGE TITLE -->
    <!-- start: BASIC EXAMPLE -->
    <div class="container-fluid container-fullw bg-white">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-lg-8 col-md-12">
              <div class="panel panel-white">
                <div class="panel-heading">
                  <h5 class="panel-title">Detail User</h5>
                </div>
                <div class="panel-body">
                  <table class="table">
                    <tbody>
                      
                      <tr>
                        <td>Id</td>
                        <td><%= @user.id %></td>
                      </tr>
                      <tr>
                        <td>Name</td>
                        <td><%= @user.username %></td>
                      </tr>
                      <tr>
                        <td>Email</td>
                        <td><%= @user.email %></td>
                      </tr> 
                      <tr>
                        <td>Phone</td>
                        <td><%= @user.phone %></td>
                      </tr>                     
                      <tr>
                        <td>Address</td>
                        <td><%= @user.address %></td>
                      </tr>
                      <tr>
                        <td>Created At</td>
                        <td><%= @user.created_at %></td>
                      </tr>

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
                <div class="col-md-12 space20">
                  <a href="/admin/users/<%= params[:id] %>/edit" class="btn btn-warning">
                    Edit <i class="fa fa-edit"></i>
                  </a>
                  <a href="/admin/users" class="btn btn-info">
                    Back <i class="fa fa-reply"></i>
                  </a>
                </div>
            </div>
    </div>
    <!-- end: BASIC EXAMPLE -->

    <!-- start: DYNAMIC TABLE -->
    
  </div>
