<!DOCTYPE html>
<!-- Template Name: Clip-Two - Responsive Admin Template build with Twitter Bootstrap 3.x | Author: ClipTheme -->
<!--[if IE 8]><html class="ie8" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9" lang="en"><![endif]-->
<!--[if !IE]><!-->
<html lang="en">
  <!--<![endif]-->
  <!-- start: HEAD -->
  <!-- start: HEAD -->
  <head>
    <title>Pojok Kebul - Admin Sign In</title>
    <!-- start: META -->
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1" /><![endif]-->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- end: META -->
    <!-- start: GOOGLE FONTS -->
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
    <!-- end: GOOGLE FONTS -->
    <!-- start: MAIN CSS -->
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vendor/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/vendor/themify-icons/themify-icons.min.css">
    <link href="/vendor/animate.css/animate.min.css" rel="stylesheet" media="screen">
    <link href="/vendor/perfect-scrollbar/perfect-scrollbar.min.css" rel="stylesheet" media="screen">
    <link href="/vendor/switchery/switchery.min.css" rel="stylesheet" media="screen">
    <!-- end: MAIN CSS -->
    <!-- start: CLIP-TWO CSS -->
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/assets/css/plugins.css">
    <link rel="stylesheet" href="/assets/css/themes/theme-1.css" id="skin_color" />
    <!-- end: CLIP-TWO CSS -->
    <!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->
    <!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->
  </head>
  <!-- end: HEAD -->
  <!-- start: BODY -->
  <body class="login">
    <!-- start: LOGIN -->
    <div class="row">
      <div class="main-login col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
        <div class="logo margin-top-30 center">        
          <img class="transparent-logo" src="/assets/images/logo_pokeb_resize.png" alt="Boutique">
        </div>
        <!-- start: LOGIN BOX -->
        <div class="box-login">
          
          <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-login'}) do |f| %>
            <fieldset>
              <legend>
                Sign in to POKEB admin page
              </legend>
              <p>
                Please enter your name and password to log in.
              </p>

              <%- flash.each do |name, msg| -%>
                <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
              <%- end -%>
              <div class="form-group">
                <span class="input-icon">
                  <%= f.text_field :username, :class => 'form-control', placeholder: "your username .." %>
                  <i class="fa fa-user"></i> </span>
              </div>
              <div class="form-group form-actions">
                <span class="input-icon">
                  <%= f.password_field :password, :class => 'form-control passwor', placeholder: "your pasword .." %>
                  <i class="fa fa-lock"></i>
                  <a class="forgot" href="login_forgot.html">
                    I forgot my password
                  </a> </span>
              </div>
              <div class="form-actions">
                <div class="checkbox clip-check check-primary">
                  <%= f.check_box :remember_me %> <%= f.label :remember_me %>
                  <label for="remember">
                    Keep me signed in
                  </label>
                </div>
                <button type="submit" class="btn btn-primary pull-right">
                  Login <i class="fa fa-arrow-circle-right"></i>
                </button>
              </div>
            </fieldset>
          <% end %>


          <!-- start: COPYRIGHT -->
          <div class="copyright">
            &copy; <span class="current-year"></span><span class="text-bold text-uppercase"> POJOK KEBUL - YUDISTIRA AKBAR</span>. <span>All rights reserved</span>
          </div>
          <!-- end: COPYRIGHT -->
        </div>
        <!-- end: LOGIN BOX -->
      </div>
    </div>
    <!-- end: LOGIN -->
    <!-- start: MAIN JAVASCRIPTS -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/vendor/modernizr/modernizr.js"></script>
    <script src="/vendor/jquery-cookie/jquery.cookie.js"></script>
    <script src="/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="/vendor/switchery/switchery.min.js"></script>
    <!-- end: MAIN JAVASCRIPTS -->
    <!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
    <script src="/vendor/jquery-validation/jquery.validate.min.js"></script>
    <!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
    <!-- start: CLIP-TWO JAVASCRIPTS -->
    <script src="/assets/js/main.js"></script>
    <!-- start: JavaScript Event Handlers for this page -->
    <script src="/assets/js/login.js"></script>
    <script>
      jQuery(document).ready(function() {
        Main.init();
        Login.init();
      });
    </script>
    <!-- end: JavaScript Event Handlers for this page -->
    <!-- end: CLIP-TWO JAVASCRIPTS -->
  </body>
  <!-- end: BODY -->
</html>